* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}
.container {
  display: flex;
}

.sidebar {
  width: 220px;
  min-height: 100vh;
  background: #1e293b;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  margin-top: 20px;
}

.sidebar li {
  margin: 15px 0;
}

.content {
  flex: 1;
  padding: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

input,
textarea {
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

.cards {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}